{% extends 'layout/home_layout.html' %}
{% load static %}

{% block layout %}

<!-- Programs Page Content -->
<section class="py-20 bg-gray-100 mt-16"> <!-- Added mt-16 for margin-top -->
    <div class="container mx-auto px-4">
        <div class="max-w-3xl mx-auto text-center mb-12" data-aos="fade-up">
            <h2 class="text-4xl font-bold text-gray-900 mb-4">Our Programs</h2>
            <p class="text-lg text-gray-600">
                Explore the diverse range of programs we offer at LakeView College.
            </p>
        </div>
        <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-12 max-w-5xl mx-auto">
        {% for program in programs %}
            <!-- Program 1 -->
            <div class="bg-white p-6 rounded-lg shadow-lg flex justify-between flex-col" data-aos="fade-up" data-aos-delay="100">
            <div class="w-full h-48 overflow-hidden">
            <img src="{{ program.faculty_img }}" class="object-cover rounded-lg" alt="{{ program.name }}">
            </div>
                <h3 class="text-2xl font-bold text-gray-900 mb-4">{{program.name|truncatechars:20}}</h3>
                <p class="text-lg text-gray-600 mb-4">
                    {{program.description|truncatechars:25 }}.
                </p>
                <a href="{% url 'core:program' program.pk %}" class="text-blue-600 hover:underline">Learn More</a>
            </div>
           {% endfor %}
        </div>
    </div>
</section>


{% endblock %}